@import "../../../styles/ez/mediaqueries";

header {
  nav {
    .menu-button {
      position: absolute;
      border: none;
      top: 55%;
      right: 10%;
      color: var(--color-black);
      background-color: var(--color-transparent);
      text-transform: uppercase;
      font-style: italic;
      font-weight: 100;
      font-size: 1.9rem;
      @include md-phone {
        font-size: 1rem;
        font-weight: 400;
      }

      .circle-animation {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 120px;
        height: 100px;

        svg {
          max-width: 80%;
        }
        @include sm {
          // padding: 5% 0 2%;
        }
        @include md-phone {
          width: 70px;
        }
      }
    }

    .top-menu {
      position: relative;
      // position: absolute;
      text-transform: uppercase;
      font-style: italic;
      display: flex;
    }

    ul.main-menu {
      list-style-type: none;
      padding: 0;
      margin: 0;
      display: flex;
      gap: 3%;
      justify-content: flex-end;
      margin-right: 2%;

      li.main-item {
        position: relative;
        font-size: 2rem;
        text-transform: uppercase;
        color: var(--color-black);
        font-style: italic;
        font-weight:800;
       
        a {
          text-decoration: none;
          color: var(--color-black);
        }

        &:last-child {
          margin-right: 50px;
        }

        &.dropdown {
          position: relative;
        }

        &:hover {
          ul.sub-menu {
            display: block;
          }
        }
        @include md-phone {
          font-size: 1.2rem;
          margin-right: 3%;
        }
      }
    }

    .close-menu {
      width: 6rem;
      height: 6rem;
      background-color: var(--color-transparent);
      border: none;
      background-image: url("../../../Svg/Icons/x.svg");
      background-repeat: no-repeat;
      @include md-phone {
        background-image: url("../../../Svg/Icons/x-phone.svg");
        width: 3rem;
        height: 3rem;
      }
    }

    // ul.sub-menu {
    //   position: absolute;
    //   list-style-type: none;
    //   padding: 10px;
    //   margin: 0;
    //   display: none;
    //   // li.sub-item {

    //   // }
    // }
  }
}
