@import "../../styles/ez/mediaqueries";

.modal-background {
  background-color: var(--color-black-transparent);
  left: 0;
  bottom: 0;
  right: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

video {
  width: 520px;

  @include md {
    width: 420px;
  }
  @include md-phone {
    width: 320px;
  }
}

.modal-container {
  background-color: var(--color-violet-text);
  padding: 2% 5% 3%;
  display: flex;
  width: 60vw;
  // justify-content: center;
  flex-direction: column;
  // justify-items: center;
  align-items: center;
  // align-content: center;
  // width: 300px;
  // position: relative;
  z-index: 1;
  @include sm {
    width: 80%;
  }
  // @include md {
  //   width: 80%;
  // }
  @include md-phone {
    padding-top: 5%;
    width: 95vw;
    height: auto;
    overflow: scroll;
  }
}

.modal-description {
  @include md-phone {
    font-size: 1.5rem;
    padding: 0;
    margin: 3% 0;
    width: 100%;
    // background-color: aqua;
  }
}
// .modal-grid {
//   display: grid;
//   grid-template-columns: repeat(2, 1fr);
//   align-content: center;
//   @include md-phone {
//     display: inline;
//   }
// }

.modal-close-button {
  margin-bottom: 2%;
  display: flex;
  justify-content: flex-end;
  align-self: flex-start;
}

.close-x {
  background-color: var(--color-transparent);
  border: none;
  background-image: url("../../Svg/Icons/x-modal.svg");
  background-repeat: no-repeat;
  width: 6rem;
  height: 6rem;
  align-self: flex-end;
  @include md-phone {
    background-image: url("../../Svg/Icons/x.svg");
    background-repeat: no-repeat;
    width: 3rem;
    height: 3rem;
  }
}

.modal-left {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  justify-items: center;
  // background-color: aqua;
}

.modal-right {
  display: grid;
  justify-content: center;
}

.modal-title {
  display: flex;
  font-weight: 300;
  text-transform: uppercase;
  @include md-phone {
    font-size: 1.5rem;
  }
}

.modal-link {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 20px;
  justify-items: center;
}

.modal-img {
  margin-bottom: 2%;
  width: 60%;
  z-index: 2;
  @include md-phone {
    width: 100%;
  }
}

.screenshot {
  width: 50%;
}

.link-code {
  width: 6.2em;
  height: 3em;
  background-color: var(--color-transparent);
  border: none;
  background-image: url("../../Svg/Icons/link.svg");
  background-repeat: no-repeat;
}
