@import "../../styles/ez/mediaqueries";

.header {
  padding: 1% 0 2%;
  position: sticky;
  top: 0;
  z-index: 2;
  @include sm {
    padding: 5% 0 2%;
    // background-color: aqua;
    
  }
  @include md-phone {
    padding: 5% 0 2%;
    // background-color: aquamarine;
  }
}

.header.active {
  background-color: var(--color-transparent);
}

.logo {
  width: 3.5em;
  @include sm {
    width: 3em;
    // background-color: aqua;
    
  }
  @include md-phone {
    width: 3em;
    // background-color: aquamarine;
  }
}
