.header {
  // background-color: var(--color-violet);
  padding: 1% 0 2%;
  position: sticky;
  top: 0;
  z-index: 2;
  
}

// .menu {
//   position: relative;
//   z-index: 2;
// }

.header.active {
  background-color: var(--color-transparent);
}

.logo {
  width: 50%; 
}
