//
// EZ LIBRARY
// Version 1.5
//


/* VARIABLES */
$spacing-xs: 5px; //1
$spacing-sm: 10px; //2
$spacing-md: 15px; //3
$spacing-lg: 20px; //4
$spacing-xl: 40px; //5
$spacing-xxl: 120px; //6
$spacing-z: 0px; //Z


/* INCLUDES IMPORTS */
@import "mediaqueries";
@import "grid";
@import "containers";
@import "spacing";
@import "utilities";
@import "typography";
@import 'font';

